{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}

{% block main %}

    <h1>Welcome to the Student home page !</h1>

    <p><a href="/addCV">Add CV</a></p>
    <p><a href="/viewJobs">View Jobs</a></p>

{% endblock %}