{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}Lecturer home{% endblock %}

{% block main %}

    <h1>Welcome to the Admin home page !</h1>

    <p>
        <a href="/viewStudents">View Students</a>
    </p>

{% endblock %}